@model LocalNavi.Models.ViewPlace
@{
    ViewBag.Title = "Index";
}

<!--============================= SUBPAGE HEADER BG =============================-->

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block title-block_subpage">
                    <h2>Add Listing</h2>
                    <p> <a href="index.html"> Home</a> / Add Listing</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--// SUBPAGE HEADER BG -->
<!--============================= ADD LISTING =============================-->

<section class="main-block">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="listing-wrap">
                    <form action="#">
                        <!-- General Information -->
                        <div class="listing-title">
                            <span class="ti-files"></span>
                            <h4>Ümumi məlumat</h4>
                            <p>Xidmət sahəsi haqqında ümumi məlumat yazın</p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Adı</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Devizi</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CategoryID">Xidmət növü</label>
                                    <select class="form-control add-listing_form" name="CategoryID" id="CategoryID">
                                        <option value="0" selected>Seçin</option>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefon</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                        </div>
                        <!--//End General Information -->
                        <!-- Add Location -->
                        <div class="listing-title">
                            <span class="ti-location-pin"></span>
                            <h4>Ünvan</h4>
                            <p>Xidmət sahəsinin ünvanını yazın</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="CityID">Şəhər seçin</label>
                                    <select class="form-control add-listing_form" name="CityID" id="CityID">
                                        <option value="0" selected>Seçin</option>
                                        @foreach (var item in Model.Cities)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ünvanı yazın</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                        </div>
                        <!--//End Add Location -->
                        <!-- Full Details -->
                        <div class="listing-title">
                            <span class="ti-location-pin"></span>
                            <h4>Əlavə məlumat</h4>
                            <p>Əlaqə və digər məlumatları yazın</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control add-listing_form">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Haqqında</label>
                                    <textarea class="form-control add-listing_form" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--//End Full Details -->
                        <!-- Add Gallery -->
                        <div class="listing-title">
                            <span class="ti-gallery"></span>
                            <h4>Şəkillər</h4>
                            <p>Şəkillər əlavə edin</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="custom-file">
                                    <div class="add-gallery-text">
                                        <i class="ti-gallery"></i>
                                        <span>Sürüşdürüb bura atın</span>
                                    </div>
                                    <input type="file" class="custom-file-input" id="customFile">
                                </div>
                            </div>
                        </div>
                        <!--//End Add Gallery -->
                        <!-- Amenities -->
                        <div class="listing-title">
                            <span class="ti-gift"></span>
                            <h4>Digər xidmətlər</h4>
                            <p>Xidmət sahəsinə uyğun təklif edilən əlavə xidmətləri qeyd edin</p>
                        </div>
                        <div class="row" id="CheckboxServices">

                        </div>
                        <!--//End Amenities -->
                        <!-- Opening Hours -->
                        <div class="listing-title">
                            <span class="ti-time"></span>
                            <h4>İş saatları</h4>
                            <p>İş saatlarını qeyd edin</p>
                        </div>
                        @for (byte i = 1; i <= 7; i++)
                        {
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="WeekDay_@i" class="listing-time">@ViewBag.WeekDays[i - 1]</label>
                                    <input type="hidden" name="WeekDay_@i" value="@i" />
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Açılış saatı</option>
                                            @for (byte j = 6; j <= 15; j++)
                                            {
                                                <option value="@j">@j:00</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option selected>Bağlanış saatı</option>
                                            @for (byte j = 12; j <= 23; j++)
                                            {
                                                <option value="@j">@j:00</option>
                                            }
                                            @for (byte j = 0; j <= 3; j++)
                                            {
                                                <option value="@j">@j.ToString("00"):00</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-wrap btn-wrap2">
                                    <button type="submit" class="btn btn-simple">Əlavə et</button>
                                </div>
                            </div>
                        </div>
                        <!--//End Opening Hours -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//END ADD LISTING -->
